# Ejercicio 3 - Precios de Combustible

In [ ]:
import pandas as pd
import numpy as np
import requests

## Lectura de Datos

In [ ]:
#primero asigno el json convertido a dataframe en una variable
#después al explorar el dataset, veo que los valores de la columna ListaEESSPrecio son un diccionario de valores,


!pip install requests
import requests
import json

df_uno=pd.read_json("https://sedeaplicaciones.minetur.gob.es/ServiciosRESTCarburantes/PreciosCarburantes/EstacionesTerrestres/")
df_uno['ListaEESSPrecio']
df_uno.head(10)

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)

                 Fecha  ... ResultadoConsulta
0  10/01/2022 14:46:55  ...                OK
1  10/01/2022 14:46:55  ...                OK
2  10/01/2022 14:46:55  ...                OK
3  10/01/2022 14:46:55  ...                OK
4  10/01/2022 14:46:55  ...                OK
5  10/01/2022 14:46:55  ...                OK
6  10/01/2022 14:46:55  ...                OK
7  10/01/2022 14:46:55  ...                OK
8  10/01/2022 14:46:55  ...                OK
9  10/01/2022 14:46:55  ...                OK

[10 rows x 4 columns]

## Exploración y limpieza de datos

**Primera tabla**

In [ ]:
#que quiero dividir en varias columnas, utilizo el método json_normalize
df_uno=pd.json_normalize(df_uno['ListaEESSPrecio'])
df_uno.tail(10)

        C.P.                           Dirección  ... IDProvincia IDCCAA
11398  50190   RONDA CANAL IMPERIAL DE ARAGON, 8  ...          50     02
11399  50190               AUTOVIA A-2 KM. 306,0  ...          50     02
11400  50190              AUTOVIA A-2 KM. 305,65  ...          50     02
11401  50692             AUTOVIA A-68 KM. 258,25  ...          50     02
11402  50197          AVENIDA DIAGONAL PLAZA, 22  ...          50     02
11403  50197  RONDA FERIA DE MUESTRAS, DE LA, 20  ...          50     02
11404  50197          POLIGONO CALLE TURIASO, 31  ...          50     02
11405  50800         CARRETERA N-330A KM. 24,000  ...          50     02
11406  50800                CALLE AUSTRIA, 11,17  ...          50     02
11407  50810                CALLE COOPERATIVA, 2  ...          50     02

[10 rows x 32 columns]

In [ ]:
#exploramos todos los posibles valores de la columna IDCCAA porque es la que necesitaremos para unir las dos tablas
df_uno.IDCCAA.value_counts().reset_index()

   index  IDCCAA
0     01    2204
1     09    1482
2     10    1266
3     07     964
4     08     915
5     13     793
6     12     685
7     02     511
8     05     450
9     14     441
10    11     437
11    16     319
12    15     251
13    03     227
14    04     207
15    06     148
16    17      86
17    19      13
18    18       9

In [ ]:
df_uno.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11408 entries, 0 to 11407
Data columns (total 32 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   C.P.                                11408 non-null  object
 1   Dirección                           11408 non-null  object
 2   Horario                             11408 non-null  object
 3   Latitud                             11408 non-null  object
 4   Localidad                           11408 non-null  object
 5   Longitud (WGS84)                    11408 non-null  object
 6   Margen                              11408 non-null  object
 7   Municipio                           11408 non-null  object
 8   Precio Biodiesel                    11408 non-null  object
 9   Precio Bioetanol                    11408 non-null  object
 10  Precio Gas Natural Comprimido       11408 non-null  object
 11  Precio Gas Natural Licuado          11408 non-null  object
 12  Precio Gases licuados del petróleo  11408 non-null  object
 13  Precio Gasoleo A                    11408 non-null  object
 14  Precio Gasoleo B                    11408 non-null  object
 15  Precio Gasoleo Premium              11408 non-null  object
 16  Precio Gasolina 95 E10              11408 non-null  object
 17  Precio Gasolina 95 E5               11408 non-null  object
 18  Precio Gasolina 95 E5 Premium       11408 non-null  object
 19  Precio Gasolina 98 E10              11408 non-null  object
 20  Precio Gasolina 98 E5               11408 non-null  object
 21  Precio Hidrogeno                    11408 non-null  object
 22  Provincia                           11408 non-null  object
 23  Remisión                            11408 non-null  object
 24  Rótulo                              11408 non-null  object
 25  Tipo Venta                          11408 non-null  object
 26  % BioEtanol                         11408 non-null  object
 27  % Éster metílico                    11408 non-null  object
 28  IDEESS                              11408 non-null  object
 29  IDMunicipio                         11408 non-null  object
 30  IDProvincia                         11408 non-null  object
 31  IDCCAA                              11408 non-null  object
dtypes: object(32)
memory usage: 2.8+ MB

**Segunda tabla**

In [ ]:
#quito las columnas que no me interesan
df_uno=df_uno.drop(columns=["Dirección", "Horario", "Remisión", "% BioEtanol", "% Éster metílico", "Rótulo", "Tipo Venta", "Margen"])

In [ ]:
#exploro la segunda tabla
df_dos=pd.read_json("https://sedeaplicaciones.minetur.gob.es/ServiciosRESTCarburantes/PreciosCarburantes/Listados/ComunidadesAutonomas/")
df_dos.head(10)

   IDCCAA                  CCAA
0       1             Andalucia
1       2                Aragón
2       3              Asturias
3       4              Baleares
4       5              Canarias
5       6             Cantabria
6       7    Castilla la Mancha
7       8       Castilla y León
8       9              Cataluña
9      10  Comunidad Valenciana

In [ ]:
df_dos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   IDCCAA  19 non-null     int64
 1   CCAA    19 non-null     object
dtypes: int64(1), object(1)
memory usage: 432.0+ bytes

In [ ]:
#cambiamos el type de IDCCAA a string
df_dos=df_dos.assign(IDCCAA= lambda dataset: dataset.IDCCAA.astype("str"))
df_dos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   IDCCAA  19 non-null     object
 1   CCAA    19 non-null     object
dtypes: object(2)
memory usage: 432.0+ bytes

In [ ]:
#utilizamos la función zfill para añadir ceros delante del ID y dejar los valores IDCAA de df_dos
#igual que la columna IDCAA de df_uno, ya que es por donde vamos a unir ambas tablas
df_dos['IDCCAA'] = df_dos['IDCCAA'].str.zfill(2)
df_dos

   IDCCAA                  CCAA
0      01             Andalucia
1      02                Aragón
2      03              Asturias
3      04              Baleares
4      05              Canarias
5      06             Cantabria
6      07    Castilla la Mancha
7      08       Castilla y León
8      09              Cataluña
9      10  Comunidad Valenciana
10     11           Extremadura
11     12               Galicia
12     13                Madrid
13     14                Murcia
14     15               Navarra
15     16            País Vasco
16     17            Rioja (La)
17     18                 Ceuta
18     19               Melilla

**Unión de las dos tablas, tabla final**

In [ ]:
#Uno las dos tablas
df_final=df_uno.join(df_dos.set_index('IDCCAA'), on='IDCCAA')
df_final

        C.P.    Latitud        Localidad  ... IDProvincia IDCCAA                CCAA
0      02250  39,211417        ABENGIBRE  ...          02     07  Castilla la Mancha
1      02152  39,100389           ALATOZ  ...          02     07  Castilla la Mancha
2      02001  39,054694         ALBACETE  ...          02     07  Castilla la Mancha
3      02001  39,000861         ALBACETE  ...          02     07  Castilla la Mancha
4      02001  38,985667         ALBACETE  ...          02     07  Castilla la Mancha
...      ...        ...              ...  ...         ...    ...                 ...
11403  50197  41,637944         ZARAGOZA  ...          50     02              Aragón
11404  50197  41,645722         ZARAGOZA  ...          50     02              Aragón
11405  50800  41,857000            ZUERA  ...          50     02              Aragón
11406  50800  41,883583            ZUERA  ...          50     02              Aragón
11407  50810  41,938750  ONTINAR DE SALZ  ...          50     02              Aragón

[11408 rows x 25 columns]

In [ ]:
#Exploro la tabla para ver lo tipos y las columnas que tengo que estrechar
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11408 entries, 0 to 11407
Data columns (total 25 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   C.P.                                11408 non-null  object
 1   Latitud                             11408 non-null  object
 2   Localidad                           11408 non-null  object
 3   Longitud (WGS84)                    11408 non-null  object
 4   Municipio                           11408 non-null  object
 5   Precio Biodiesel                    11408 non-null  object
 6   Precio Bioetanol                    11408 non-null  object
 7   Precio Gas Natural Comprimido       11408 non-null  object
 8   Precio Gas Natural Licuado          11408 non-null  object
 9   Precio Gases licuados del petróleo  11408 non-null  object
 10  Precio Gasoleo A                    11408 non-null  object
 11  Precio Gasoleo B                    11408 non-null  object
 12  Precio Gasoleo Premium              11408 non-null  object
 13  Precio Gasolina 95 E10              11408 non-null  object
 14  Precio Gasolina 95 E5               11408 non-null  object
 15  Precio Gasolina 95 E5 Premium       11408 non-null  object
 16  Precio Gasolina 98 E10              11408 non-null  object
 17  Precio Gasolina 98 E5               11408 non-null  object
 18  Precio Hidrogeno                    11408 non-null  object
 19  Provincia                           11408 non-null  object
 20  IDEESS                              11408 non-null  object
 21  IDMunicipio                         11408 non-null  object
 22  IDProvincia                         11408 non-null  object
 23  IDCCAA                              11408 non-null  object
 24  CCAA                                11408 non-null  object
dtypes: object(25)
memory usage: 2.2+ MB

In [ ]:
#Estrechamos la tabla 

df_final=df_final.melt(id_vars= ["C.P.", "Latitud", "Localidad", "Longitud (WGS84)", "Municipio", "Provincia", "IDEESS", "IDMunicipio", "IDProvincia", "IDCCAA", "CCAA"], var_name="TipoPrecio", value_name= "Precio")
df_final

         C.P.    Latitud  ...        TipoPrecio Precio
0       02250  39,211417  ...  Precio Biodiesel
1       02152  39,100389  ...  Precio Biodiesel
2       02001  39,054694  ...  Precio Biodiesel
3       02001  39,000861  ...  Precio Biodiesel
4       02001  38,985667  ...  Precio Biodiesel
...       ...        ...  ...               ...    ...
159707  50197  41,637944  ...  Precio Hidrogeno
159708  50197  41,645722  ...  Precio Hidrogeno
159709  50800  41,857000  ...  Precio Hidrogeno
159710  50800  41,883583  ...  Precio Hidrogeno
159711  50810  41,938750  ...  Precio Hidrogeno

[159712 rows x 13 columns]

In [ ]:
#Ponemos bien los nombres de las columnas que sea necesario
df_final= df_final.rename(columns={"C.P.": "CodPos", "Longitud (WGS84)": "Longitud"})
df_final= df_final.filter(["IDEESS", "IDCCAA", "IDMunicipio", "Municipio", "IDProvincia", "Provincia", "Localidad", "CodPos",
         "Latitud", "Longitud", "CCAA", "TipoPrecio", "Precio"])
df_final

       IDEESS IDCCAA IDMunicipio  ...                CCAA        TipoPrecio Precio
0        4375     07          52  ...  Castilla la Mancha  Precio Biodiesel
1        5122     07          53  ...  Castilla la Mancha  Precio Biodiesel
2       12054     07          54  ...  Castilla la Mancha  Precio Biodiesel
3       13933     07          54  ...  Castilla la Mancha  Precio Biodiesel
4       10765     07          54  ...  Castilla la Mancha  Precio Biodiesel
...       ...    ...         ...  ...                 ...               ...    ...
159707  12472     02        8108  ...              Aragón  Precio Hidrogeno
159708  13917     02        8108  ...              Aragón  Precio Hidrogeno
159709   1452     02        8109  ...              Aragón  Precio Hidrogeno
159710   9085     02        8109  ...              Aragón  Precio Hidrogeno
159711   9068     02        8109  ...              Aragón  Precio Hidrogeno

[159712 rows x 13 columns]

In [ ]:
#Limpiar comas y guiones de Latitud, Precio y Longitud. Donde lleva una coma, deberían llevar un punto.
#Los convierto en float
#Quito las filas con valor nulo en la columna Precio

df_final=df_final.replace(regex={r',': r'.'})

df_final=df_final\
.assign(Latitud= lambda dataset: dataset.Latitud.astype("float"))\
.assign(Longitud= lambda dataset: dataset.Longitud.astype("float"))\
.assign(Precio= lambda dataset: pd.to_numeric(dataset.Precio, errors= 'coerce'))\
.dropna(subset=['Precio'])

df_final

       IDEESS IDCCAA  ...             TipoPrecio Precio
227      3731     10  ...       Precio Biodiesel  1.348
821        16     16  ...       Precio Biodiesel  1.529
841     11651     16  ...       Precio Biodiesel  1.229
854     12416     16  ...       Precio Biodiesel  1.529
1144     4919     08  ...       Precio Biodiesel  1.429
...       ...    ...  ...                    ...    ...
148293   1483     02  ...  Precio Gasolina 98 E5  1.639
148294  11519     02  ...  Precio Gasolina 98 E5  1.519
148297   8275     02  ...  Precio Gasolina 98 E5  1.659
148298  12289     02  ...  Precio Gasolina 98 E5  1.679
148301   1452     02  ...  Precio Gasolina 98 E5  1.649

[39611 rows x 13 columns]

## Verificación de datos

In [ ]:
#Comprobamos el tipo de las columnas
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39611 entries, 227 to 148301
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   IDEESS       39611 non-null  object
 1   IDCCAA       39611 non-null  object
 2   IDMunicipio  39611 non-null  object
 3   Municipio    39611 non-null  object
 4   IDProvincia  39611 non-null  object
 5   Provincia    39611 non-null  object
 6   Localidad    39611 non-null  object
 7   CodPos       39611 non-null  object
 8   Latitud      39611 non-null  float64
 9   Longitud     39611 non-null  float64
 10  CCAA         39611 non-null  object
 11  TipoPrecio   39611 non-null  object
 12  Precio       39611 non-null  float64
dtypes: float64(3), object(10)
memory usage: 4.2+ MB

In [ ]:
df_final.query("IDEESS == '14187'")

       IDEESS IDCCAA  ...                     TipoPrecio Precio
62058   14187     01  ...               Precio Gasoleo A  1.399
84874   14187     01  ...         Precio Gasoleo Premium  1.465
107690  14187     01  ...          Precio Gasolina 95 E5  1.534
119098  14187     01  ...  Precio Gasolina 95 E5 Premium  1.594
141914  14187     01  ...          Precio Gasolina 98 E5  1.666

[5 rows x 13 columns]

In [ ]:
df_final.TipoPrecio.value_counts()

Precio Gasoleo A                      11083
Precio Gasolina 95 E5                 10392
Precio Gasoleo Premium                 7439
Precio Gasolina 98 E5                  6005
Precio Gasoleo B                       2975
Precio Gases licuados del petróleo      782
Precio Gasolina 95 E5 Premium           701
Precio Gas Natural Comprimido           106
Precio Gas Natural Licuado               69
Precio Biodiesel                         36
Precio Gasolina 95 E10                   14
Precio Gasolina 98 E10                    5
Precio Bioetanol                          4
Name: TipoPrecio, dtype: int64